/*!
Theme Name: Ámbar Iluminación
Theme URI: https://somosbloom.com/
Author: Bloom Studio
Author URI: https://somosbloom.com/
Description: Developed by bloom
Version: 1.0.0
Text Domain: ambar
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Typography
# Forms
# Elements
# Navigation
# Footer
# Content
	# Home
	# Events
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
$hamburger-layer-color: #fff;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-height: 2px;
$hamburger-layer-width: 30px;
@import "global/hamburgers/hamburgers";
@import "global/slick";

$color--dark-gray: #1a1a1a;
$color--gray: #808080;
$color--gold: #c39c38;

@font-face {
	font-family: "Ailerons";
	src: url("assets/fonts/ailerons-typeface-webfont.woff2") format("woff2"),
		url("assets/fonts/ailerons-typeface-webfont.woff") format("woff"),
		url("assets/fonts/ailerons-typeface-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #000;
	//font-family: "Ailerons";
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Ailerons";
}

a {
	&,
	&:hover {
		color: inherit;
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.gform_wrapper {
	.gform_fields {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
		.gfield {
			.gfield_label {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				white-space: nowrap;
				border: 0;
			}
			input,
			textarea {
				display: block;
				width: 100%;
				height: calc(1.5em + 0.75rem + 2px);
				padding: 0.375rem 0.75rem;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5;
				//color: #495057;
				color: #fff;
				background-color: transparent;
				background-clip: padding-box;
				border: 2px solid #4d4d4d;
				border-radius: 0;
				transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
				text-align: center;
			}
		}
	}
	.gform_footer {
		text-align: center;
		.ambar-btn {
			background-color: transparent;
			color: #495057;
			border: solid 2px #495057;
			padding: 0.5rem 2.5rem;
		}
	}
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.welcome-section {
	position: relative;
	min-height: 250px;
	@media (min-width: 992px) {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
	.stamp {
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		width: 200px;
		transform: translateX(-50%);
	}
	h1 {
		font-size: 2rem;
		@media (min-width: 768px) {
			font-size: 4rem;
		}
	}
}

.bg-gray {
	background-color: $color--dark-gray;
}

.text-gold {
	color: $color--gold;
}

.text-gray {
	color: $color--gray;
}

.social-links {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: solid 2px $color--gold;
			color: $color--gold;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: $color--dark-gray;
				background-color: $color--gold;
			}
		}
	}
}

.ambar-btn {
	background-color: transparent;
	color: $color--gold;
	border: solid 2px $color--gold;
	padding: 0.5rem 2.5rem;
	transition: all 0.3s ease-in-out;
	&:hover {
		text-decoration: none;
		background-color: $color--gold;
		border-color: $color--gold;
		color: #1a1a1a;
	}
}

.play-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid 2px $color--gold;
	color: $color--gold;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	&:hover {
		color: $color--dark-gray;
		background-color: $color--gold;
	}
}

.square-img-wrapper {
	cursor: url("assets/img/cursor.png"), auto;
	.square-img-wrapper__inner {
		padding: 8px;
		border: solid 2px $color--gold;
		position: relative;
		//transform: translateY(-10%);
		// .diamond {
		//     position: absolute;
		//     width: 25%;
		//     display: block;
		//     border: solid 1px $color--gold;
		//     left: 0;
		//     right: 0;
		//     top: -10%;
		//     margin: auto;
		//     transform: rotate(45deg);
		//     z-index: 2;
		//     &:after {
		//         content: "";
		//         display: block;
		//         padding-top: 100%;
		//     }
		// }
	}
}

.slick-slider {
	cursor: url(assets/img/cursor.png), auto;
}

.diamond {
	width: 300px;
	max-width: 70%;
	height: auto;
	display: block;
	margin: auto;
	transform: translateY(-50%);
	position: relative;
	z-index: 2;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.ambar-navigation {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 2000;
	transform: translateX(-100%);
	transition: all 0.3s ease-in-out;
	font-family: "Ailerons";
	@media (min-width: 992px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&.ambar-navigation--opened {
		transform: translateX(0);
	}
	.ambar-navigation__stamp {
		max-width: 100%;
		width: 100px;
		height: auto;
		@media (min-width: 992px) {
			width: 200px;
		}
	}
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			a {
				color: #fff;
				font-size: 2.5rem;
				@media (min-width: 992px) {
					font-size: 4.5rem;
				}
			}
		}
	}
	p {
		font-size: 1rem;
		@media (min-width: 992px) {
			font-size: 1.5rem;
		}
	}
	.hamburger {
		position: absolute;
		right: 15px;
		top: 15px;
		@media (min-width: 992px) {
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.ambar-footer {
	position: relative;
	.ambar-footer__stamp {
		position: absolute;
		top: 30px;
		right: 30%;
		width: 150px;
	}
	.copyright {
		&,
		a {
			color: #333;
			transition: all 0.3s ease-in-out;
		}
		a:hover {
			color: $color--gold;
		}
	}
}

/*--------------------------------------------------------------
# Content | Home
--------------------------------------------------------------*/
.p-home {
	.square-img-wrapper {
		.square-img-wrapper__inner {
			margin-top: -260px;
			@media (min-width: 576px) {
				margin-top: -365px;
			}
		}
	}
	.contact-banner {
		min-height: 100vh;
		background-size: cover;
		background-position: center;
		background-repeat: none;
		display: flex;
		align-items: center;
		justify-content: center;
		.contact-banner__button {
			display: block;
			border: solid 5px #000;
			padding: 5px 10px;
			transition: all 0.3s ease-in-out;
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
			.contact-banner__box {
				background-color: #000;
				color: $color--gold;
			}
		}
	}
}

/*--------------------------------------------------------------
# Content | Events
--------------------------------------------------------------*/
.p-events {
	.services-listing {
		background-image: url("./assets/img/pattern.svg");
		background-size: cover;
		background-position: center;
		// .diamond {
		//     width: 300px;
		//     max-width: 70%;
		//     height: auto;
		//     display: block;
		//     margin: auto;
		//     transform: translateY(-50%);
		// }
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				font-size: 2rem;
			}
		}
	}
	.lighting-icon {
		width: 100%;
		background-color: transparent;
		position: relative;
		border-radius: 50%;
		border: solid 2px $color--gold;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&:hover,
		&.lighting-icon--active {
			background-color: $color--gold;
			svg {
				path {
					fill: $color--dark-gray;
				}
			}
		}
		&:after {
			content: "";
			display: block;
			padding-top: 100%;
		}
		svg {
			position: absolute;
			width: 60%;
			height: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}
